* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h2 {
    width: 300px;
    margin-top: 20px;
    border-top: 1px solid black;
}

.task {
    margin-top: 10px;
    width: 300px;
}